# Import packages

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# EDA

In [37]:
data = pd.read_csv('../data/sales_train.csv')
test = pd.read_csv('../data/test.csv')
items = pd.read_csv('../data/items.csv')
shops = pd.read_csv('../data/shops.csv')
categories = pd.read_csv('../data/item_categories.csv')
data = data.sort_values(['date', 'shop_id', 'item_id'])

In [36]:
data

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day
16164,01.01.2013,0,28,11613,1499.0,1.0
101474,01.01.2013,0,51,10283,667.0,1.0
10197,01.01.2013,0,19,2828,499.0,1.0
101457,01.01.2013,0,51,10390,150.0,1.0
101455,01.01.2013,0,51,10591,110.0,1.0
...,...,...,...,...,...,...
2263531,31.12.2014,23,10,15784,195.0,1.0
2238358,31.12.2014,23,31,18624,499.0,1.0
2238360,31.12.2014,23,31,18622,169.0,1.0
2210313,31.12.2014,23,59,9412,299.0,1.0
2239634,31.12.2014,23,34,15336,529.0,1.0

In [5]:
test

            ID  shop_id  item_id
0            0        5     5037
1            1        5     5320
2            2        5     5233
3            3        5     5232
4            4        5     5268
...        ...      ...      ...
214195  214195       45    18454
214196  214196       45    16188
214197  214197       45    15757
214198  214198       45    19648
214199  214199       45      969

[214200 rows x 3 columns]

In [9]:
train[train['item_price'] < 0]

              date  date_block_num  shop_id  item_id  item_price  item_cnt_day
484683  15.05.2013               4       32     2973        -1.0           1.0

In [11]:
list(np.unique(train['item_price']))

[-1.0,
 0.07,
 0.0875,
 0.09,
 0.1,
 0.2,
 0.5,
 0.9087136929459999,
 0.99,
 1.0,
 1.83,
 2.0,
 2.99,
 3.0,
 3.57,
 3.59,
 3.64,
 3.67,
 3.69,
 3.71,
 3.72,
 3.8,
 4.0,
 4.029126213590001,
 4.05555555556,
 4.1428571428600005,
 4.23529411765,
 4.3,
 4.33333333333,
 4.4,
 4.46666666667,
 4.5,
 4.527777777780001,
 4.5625,
 4.57142857143,
 4.66666666667,
 4.69375,
 4.71,
 4.71428571429,
 4.75,
 4.760383386580001,
 4.777777777780001,
 4.79,
 4.795,
 4.8,
 4.8125,
 4.81818181818,
 4.825,
 4.83333333333,
 4.85,
 4.8571428571399995,
 4.86363636364,
 4.86666666667,
 4.875,
 4.8825,
 4.88888888889,
 4.8928571428600005,
 4.9,
 4.909090909090001,
 4.91666666667,
 4.92307692308,
 4.9275,
 4.92857142857,
 4.93333333333,
 4.93518518519,
 4.9375,
 4.93833333333,
 4.94117647059,
 4.94230769231,
 4.94444444444,
 4.94594594595,
 4.94642857143,
 4.94736842105,
 4.94888888889,
 4.95,
 4.95238095238,
 4.95384615385,
 4.95454545455,
 4.95833333333,
 4.96,
 4.96153846154,
 4.96428571429,
 4.967,
 4.96774193548,
 4.96875,
 4.9696969697,
 4.972222222219999,
 4.97435897436,
 4.975,
 4.97727272727,
 4.97916666667,
 4.98076923077,
 4.9821428571399995,
 4.98333333333,
 4.98387096774,
 4.984,
 4.98611111111,
 4.98684210526,
 4.99305555556,
 4.99358974359,
 4.99668874172,
 4.99709677419,
 5.0,
 6.416666666669999,
 7.0,
 7.68,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 13.8,
 14.0,
 15.0,
 15.88,
 16.0,
 17.0,
 18.0,
 19.0,
 19.2771428571,
 19.29,
 19.681875,
 20.0,
 21.0,
 21.58,
 21.6,
 21.83,
 22.0,
 22.4,
 23.0,
 23.53,
 23.68,
 23.71,
 23.8,
 24.0,
 24.08,
 24.2,
 24.49,
 24.5,
 24.54,
 24.6,
 24.69,
 24.86,
 24.89,
 24.94,
 25.0,
 25.05,
 25.07,
 25.08,
 25.19,
 25.2,
 25.21,
 25.28,
 25.42,
 25.53,
 25.74,
 25.84,
 25.89,
 26.0,
 26.09,
 26.26,
 26.27,
 26.4,
 26.44,
 26.6,
 26.75,
 26.93,
 27.0,
 27.33,
 27.53,
 27.55,
 27.6275,
 27.701999999999998,
 27.72,
 27.77,
 27.79625,
 27.7990909091,
 27.8058333333,
 27.87,
 27.9,
 27.9083333333,
 27.98375,
 28.0,
 28.5,
 29.0,
 30.0,
 30.01,
 31.2,
 31.57,
 32.0,
 32.8,
 32.9925,
 33.0,
 33.15,
 33.19,
 33.21,
 33.44,
 33.56,
 33.6,
 33.61,
 33.91,
 34.0,
 34.2,
 34.3,
 34.5,
 34.7,
 34.94,
 35.0,
 35.43,
 36.0,
 36.57,
 36.823529411799996,
 37.0,
 37.6,
 37.88,
 38.0,
 38.49,
 38.5,
 39.0,
 39.1,
 39.2,
 39.3,
 40.0,
 40.6,
 41.0,
 41.65,
 41.83,
 42.0,
 42.15,
 43.0,
 43.73,
 43.98,
 44.0,
 44.28,
 44.3,
 44.4,
 44.59,
 44.67,
 44.81,
 45.0,
 45.01,
 45.21,
 45.6,
 45.82,
 46.0,
 46.0333333333,
 46.2,
 46.4,
 46.43,
 47.0,
 47.04,
 47.08,
 47.1,
 47.65,
 47.87,
 48.0,
 48.75,
 48.87,
 49.0,
 49.05,
 49.25,
 49.3,
 49.5,
 49.52,
 49.99,
 50.0,
 50.02,
 50.55,
 50.64,
 50.94,
 50.97,
 51.0,
 51.03,
 51.31,
 51.35,
 51.44,
 51.59,
 51.79,
 51.8,
 51.87,
 51.93,
 52.0,
 52.02,
 52.2,
 52.55,
 52.95,
 53.0,
 53.01,
 53.16,
 53.18,
 53.59,
 53.89,
 54.0,
 54.03,
 54.21,
 54.3,
 54.58,
 54.6666666667,
 54.8,
 54.92,
 55.0,
 55.0666666667,
 55.07,
 55.1,
 55.14,
 55.2,
 55.21,
 55.32,
 55.33,
 55.5555555556,
 55.58,
 55.59,
 55.73,
 55.85,
 55.94,
 56.0,
 56.02,
 56.05,
 56.1,
 56.2,
 56.23,
 56.24,
 56.28,
 56.35,
 56.46,
 56.66,
 56.99,
 57.0,
 57.12,
 57.16,
 57.2,
 57.44,
 57.5,
 57.5175,
 57.58,
 57.59,
 57.68,
 57.73,
 57.88,
 57.9,
 57.94,
 57.95,
 58.0,
 58.04,
 58.16,
 58.38,
 58.4,
 58.5,
 58.56,
 58.62,
 58.77,
 58.8,
 58.95,
 59.0,
 59.07,
 59.33,
 59.37,
 59.4,
 59.52,
 59.57,
 59.73,
 59.78,
 59.87,
 59.89,
 59.94,
 60.0,
 60.13,
 60.24,
 60.31,
 60.48,
 60.75,
 60.85,
 61.0,
 61.47,
 61.73,
 61.91,
 62.0,
 62.25,
 62.43,
 62.5,
 62.75,
 62.8,
 62.9,
 63.0,
 63.03,
 63.2,
 63.25,
 63.54,
 63.94,
 64.0,
 64.09,
 64.16,
 64.37,
 64.42,
 64.46,
 64.97,
 64.98,
 65.0,
 65.02,
 65.24,
 65.35,
 65.36,
 65.46,
 65.88,
 65.91,
 65.93,
 66.0,
 66.03333333329999,
 66.11,
 66.19,
 66.2,
 66.33,
 66.45,
 66.51,
 66.59,
 66.65,
 66.7,
 66.88,
 66.93,
 66.97,
 67.0,
 67.12,
 67.14,
 67.15,
 67.2,
 67.53,
 67.61,
 67.62,
 67.65,
 67.8,
 67.82,
 67.88,
 67.94,
 68.0,
 68.08,
 68.09,
 68.11,
 68.27,
 68.4,
 68.5,
 68.6,
 68.74,
 68.75,
 68.8,
 68.83,
 68.9,
 69.0,
 69.04,
 69.06,
 69.09,
 69.2,
 69.26,
 69.3,
 69.31,
 69.4,
 69.54,
 69.64,
 69.67,
 69.72,
 69.88,
 69.97,
 70.0,
 70.02,
 70.06,
 70.202020202,
 70.26,
 70.35,
 70.55,
 70.58,
 70.62,
 70.64,
 70.74,
 70.84,
 70.93,
 71.0,
 71.01,
 71.1,
 71.11,
 71.34,
 71.4285714286,
 71.45,
 71.53,
 71.92,
 71.93,
 72.0,
 72.2,
 72.29,
 72.44,
 72.45,
 72.46,
 72.53,
 72.8,
 72.95,
 73.0,
 73.41,
 73.44,
 73.49,
 73.53,
 73.66,
 73.7,
 73.75,
 74.0,
 74.05,
 74.22,
 74.25,
 74.31,
 74.4,
 74.5,
 74.63,
 74.65,
 74.69,
 74.71,
 74.74,
 75.0,
 75.18,
 75.29,
 75.33,
 75.34,
 75.35,
 75.45454545449999,
 75.64,
 75.92,
 76.0,
 76.0833333333,
 76.17,
 76.29,
 76.71,
 76.97,
 77.0,
 77.11,
 77.12,
 77.17,
 77.27,
 77.31,
 77.44,
 77.5,
 77.53,
 77.6,
 77.65,
 77.82,
 77.84,
 77.98,
 77.99,
 78.0,
 78.08,
 78.3333333333,
 78.38,
 78.4,
 78.44,
 78.6,
 78.62,
 78.75,
 78.8,
 78.9,
 78.975,
 79.0,
 79.04,
 79.2,
 79.3,
 79.36,
 79.48,
 79.6774193548,
 79.8,
 79.99,
 80.0,
 80.25,
 80.26,
 80.37,
 80.44,
 80.64,
 80.68,
 81.0,
 81.15,
 81.25,
 81.51,
 81.56,
 81.67,
 81.93,
 82.0,
 82.1,
 82.3333333333,
 82.35,
 82.47,
 82.49,
 82.5,
 82.6666666667,
 82.71,
 82.7333333333,
 82.79,
 82.82,
 82.87,
 82.89,
 82.94,
 83.0,
 83.03,
 83.3,
 83.3333333333,
 83.4,
 83.43,
 83.58,
 83.6,
 83.69,
 83.75,
 83.96,
 84.0,
 84.02,
 84.03,
 84.04,
 84.53,
 84.54,
 84.7,
 84.72,
 84.73,
 84.74,
 84.77,
 84.88,
 84.96,
 85.0,
 85.16,
 85.19,
 85.41,
 85.54,
 85.83,
 85.91,
 85.92,
 85.96,
 86.0,
 86.39,
 86.64,
 86.75,
 86.79,
 86.8,
 86.94,
 86.95,
 86.98,
 86.99,
 87.0,
 87.1111111111,
 87.2,
 87.25,
 87.35,
 87.47,
 87.48,
 87.5,
 87.54,
 87.57,
 87.6,
 87.64,
 87.65,
 87.76,
 87.82,
 87.97,
 88.0,
 88.25,
 88.33,
 88.47058823530001,
 88.57,
 88.61,
 88.63,
 88.69,
 88.9,
 88.92,
 89.0,
 89.0689655172,
 89.1,
 89.17,
 89.18,
 89.19,
 89.25,
 89.29,
 89.31,
 89.32,
 89.4,
 89.48,
 89.49,
 89.64,
 89.82,
 89.83,
 89.8888888889,
 89.99,
 90.0,
 90.1,
 90.23,
 90.24,
 90.27,
 90.35,
 90.4,
 90.41,
 90.49,
 90.52,
 90.53,
 90.77,
 90.82,
 90.875,
 91.0,
 91.01,
 91.03,
 91.11,
 91.19,
 91.36,
 91.5,
 91.71,
 91.73,
 91.74,
 91.91,
 91.96,
 92.0,
 92.21,
 92.26,
 92.31,
 92.3333333333,
 92.4,
 92.41,
 92.43,
 92.83,
 92.89,
 92.96,
 93.0,
 93.08,
 93.1,
 93.17,
 93.22,
 93.25,
 93.29,
 93.34,
 93.36,
 93.38,
 93.4,
 93.5,
 93.855,
 93.9,
 93.95,
 94.0,
 94.05,
 94.08,
 94.15,
 94.25,
 94.35,
 94.36,
 94.38,
 94.4444444444,
 94.55,
 94.56,
 94.6666666667,
 94.71,
 94.93,
 95.0,
 95.02,
 95.03,
 95.04,
 95.2,
 95.3,
 95.32,
 95.3333333333,
 95.36,
 95.52,
 95.67,
 95.68,
 95.73,
 96.22,
 96.3,
 96.365,
 96.38,
 96.42857142860001,
 96.46,
 96.475,
 96.48,
 96.58,
 96.68,
 97.0,
 97.02,
 97.05,
 97.14285714290001,
 97.186,
 97.3,
 97.375,
 97.39,
 97.4,
 97.5,
 97.53,
 97.54,
 97.8,
 97.9,
 97.97,
 97.98,
 98.0,
 98.03,
 98.04,
 98.1,
 98.18,
 98.2,
 98.35,
 98.44,
 98.5,
 98.6,
 98.7,
 98.71,
 98.75,
 98.8,
 98.84,
 98.89,
 98.9,
 98.9333333333,
 98.94736842110001,
 98.95,
 98.9615384615,
 98.96666666670001,
 98.98,
 98.9869565217,
 99.0,
 99.07,
 99.1,
 99.25,
 99.31,
 99.33,
 99.3333333333,
 99.335,
 99.34,
 99.35,
 99.4,
 99.44,
 99.5,
 99.75,
 99.8,
 99.9,
 99.95,
 100.0,
 100.2,
 100.22,
 100.32,
 100.7,
 100.74,
 100.8,
 100.82,
 100.99,
 101.0,
 101.21,
 101.23076923100001,
 101.28,
 101.49,
 101.5,
 102.0,
 102.13,
 102.16,
 102.18,
 102.46694214899999,
 103.0,
 103.09,
 103.2,
 103.3,
 103.333333333,
 103.4,
 103.5,
 103.55,
 103.571428571,
 103.6,
 103.7,
 103.85,
 103.86,
 103.93,
 104.0,
 104.15,
 104.2,
 104.3,
 104.32,
 104.33,
 104.5,
 104.666666667,
 104.78,
 105.0,
 105.28,
 105.34,
 105.41,
 105.54,
 105.69,
 105.875,
 105.954545455,
 106.0,
 106.52173913,
 106.615384615,
 106.76,
 107.0,
 107.09,
 107.14285714299999,
 107.434782609,
 107.44,
 107.61333333299999,
 107.666666667,
 107.89,
 107.909090909,
 108.0,
 108.13,
 108.4,
 108.41,
 108.49,
 108.77,
 108.9,
 109.0,
 109.01,
 109.17,
 109.27,
 109.32,
 109.49,
 109.78,
 110.0,
 110.170731707,
 110.43,
 110.6,
 110.888888889,
 111.0,
 111.27,
 111.42,
 111.56,
 111.6,
 111.75,
 111.79,
 111.81,
 111.86,
 112.0,
 112.03,
 112.2,
 112.37,
 112.41,
 112.75,
 112.8,
 112.833333333,
 112.95,
 113.0,
 113.02,
 113.05,
 113.16,
 113.2775,
 113.28,
 113.45,
 113.58,
 113.65,
 113.89,
 114.0,
 114.04,
 114.12,
 114.15,
 114.28,
 114.48387096799999,
 114.6,
 114.61,
 114.63,
 114.69,
 114.72727272700001,
 114.8,
 114.85,
 114.91,
 115.0,
 115.42,
 115.545,
 115.71,
 115.72222222200001,
 115.87,
 115.89,
 115.89333333299999,
 115.96,
 116.0,
 116.07,
 116.09,
 116.11,
 116.17,
 116.25,
 116.5,
 116.51,
 116.666666667,
 116.68,
 116.96,
 117.0,
 117.04,
 117.1,
 117.15,
 117.17,
 117.666666667,
 117.8,
 117.85,
 117.90697674399999,
 117.97,
 118.0,
 118.15,
 118.2,
 118.3,
 118.33,
 118.4,
 118.44,
 118.46,
 118.51,
 118.55,
 118.6,
 118.64,
 118.68,
 118.7,
 118.73333333299999,
 118.8,
 118.9,
 118.933333333,
 ...]

In [12]:
list(np.unique(train['item_cnt_day']))

[-22.0,
 -16.0,
 -9.0,
 -6.0,
 -5.0,
 -4.0,
 -3.0,
 -2.0,
 -1.0,
 1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0,
 20.0,
 21.0,
 22.0,
 23.0,
 24.0,
 25.0,
 26.0,
 27.0,
 28.0,
 29.0,
 30.0,
 31.0,
 32.0,
 33.0,
 34.0,
 35.0,
 36.0,
 37.0,
 38.0,
 39.0,
 40.0,
 41.0,
 42.0,
 43.0,
 44.0,
 45.0,
 46.0,
 47.0,
 48.0,
 49.0,
 50.0,
 51.0,
 52.0,
 53.0,
 54.0,
 55.0,
 56.0,
 57.0,
 58.0,
 59.0,
 60.0,
 61.0,
 62.0,
 63.0,
 64.0,
 65.0,
 66.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 76.0,
 77.0,
 78.0,
 79.0,
 80.0,
 81.0,
 82.0,
 83.0,
 84.0,
 85.0,
 86.0,
 87.0,
 88.0,
 89.0,
 90.0,
 91.0,
 92.0,
 93.0,
 95.0,
 96.0,
 97.0,
 98.0,
 99.0,
 100.0,
 101.0,
 102.0,
 103.0,
 104.0,
 105.0,
 106.0,
 107.0,
 108.0,
 109.0,
 110.0,
 111.0,
 112.0,
 113.0,
 114.0,
 115.0,
 116.0,
 117.0,
 118.0,
 121.0,
 124.0,
 126.0,
 127.0,
 128.0,
 129.0,
 130.0,
 131.0,
 132.0,
 133.0,
 134.0,
 135.0,
 138.0,
 139.0,
 140.0,
 142.0,
 145.0,
 146.0,
 147.0,
 148.0,
 149.0,
 150.0,
 151.0,
 153.0,
 154.0,
 156.0,
 157.0,
 161.0,
 163.0,
 164.0,
 167.0,
 168.0,
 171.0,
 179.0,
 187.0,
 194.0,
 195.0,
 200.0,
 205.0,
 207.0,
 217.0,
 222.0,
 230.0,
 231.0,
 240.0,
 242.0,
 251.0,
 255.0,
 264.0,
 288.0,
 299.0,
 300.0,
 313.0,
 325.0,
 343.0,
 401.0,
 405.0,
 412.0,
 480.0,
 500.0,
 501.0,
 502.0,
 504.0,
 508.0,
 512.0,
 533.0,
 539.0,
 624.0,
 637.0,
 669.0,
 1000.0,
 2169.0]

In [13]:
items

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40
...,...,...,...
22165,"Ядерный титбит 2 [PC, Цифровая версия]",22165,31
22166,Язык запросов 1С:Предприятия [Цифровая версия],22166,54
22167,Язык запросов 1С:Предприятия 8 (+CD). Хрустале...,22167,49
22168,Яйцо для Little Inu,22168,62
22169,Яйцо дракона (Игра престолов),22169,69

In [14]:
shops

                                          shop_name  shop_id
0                     !Якутск Орджоникидзе, 56 фран        0
1                     !Якутск ТЦ "Центральный" фран        1
2                                  Адыгея ТЦ "Мега"        2
3                    Балашиха ТРК "Октябрь-Киномир"        3
4                          Волжский ТЦ "Волга Молл"        4
5                            Вологда ТРЦ "Мармелад"        5
6                        Воронеж (Плехановская, 13)        6
7                            Воронеж ТРЦ "Максимир"        7
8                      Воронеж ТРЦ Сити-Парк "Град"        8
9                                 Выездная Торговля        9
10                       Жуковский ул. Чкалова 39м?       10
11                       Жуковский ул. Чкалова 39м²       11
12                              Интернет-магазин ЧС       12
13                              Казань ТЦ "Бехетле"       13
14                          Казань ТЦ "ПаркХаус" II       14
15                             Калуга ТРЦ "XXI век"       15
16                                 Коломна ТЦ "Рио"       16
17                    Красноярск ТЦ "Взлетка Плаза"       17
18                             Красноярск ТЦ "Июнь"       18
19                            Курск ТЦ "Пушкинский"       19
20                              Москва "Распродажа"       20
21                           Москва МТРЦ "Афи Молл"       21
22                               Москва Магазин С21       22
23                 Москва ТК "Буденовский" (пав.А2)       23
24                 Москва ТК "Буденовский" (пав.К7)       24
25                              Москва ТРК "Атриум"       25
26                      Москва ТЦ "Ареал" (Беляево)       26
27                   Москва ТЦ "МЕГА Белая Дача II"       27
28                  Москва ТЦ "МЕГА Теплый Стан" II       28
29               Москва ТЦ "Новый век" (Новокосино)       29
30                           Москва ТЦ "Перловский"       30
31                          Москва ТЦ "Семеновский"       31
32                       Москва ТЦ "Серебряный Дом"       32
33                                Мытищи ТРК "XL-3"       33
34                             Н.Новгород ТРЦ "РИО"       34
35                      Н.Новгород ТРЦ "Фантастика"       35
36            Новосибирск ТРЦ "Галерея Новосибирск"       36
37                            Новосибирск ТЦ "Мега"       37
38                                   Омск ТЦ "Мега"       38
39            РостовНаДону ТРК "Мегацентр Горизонт"       39
40  РостовНаДону ТРК "Мегацентр Горизонт" Островной       40
41                           РостовНаДону ТЦ "Мега"       41
42                           СПб ТК "Невский Центр"       42
43                                  СПб ТК "Сенная"       43
44                              Самара ТЦ "Мелодия"       44
45                             Самара ТЦ "ПаркХаус"       45
46                            Сергиев Посад ТЦ "7Я"       46
47                           Сургут ТРЦ "Сити Молл"       47
48                     Томск ТРЦ "Изумрудный Город"       48
49                            Тюмень ТРЦ "Кристалл"       49
50                               Тюмень ТЦ "Гудвин"       50
51                        Тюмень ТЦ "Зеленый Берег"       51
52                             Уфа ТК "Центральный"       52
53                                 Уфа ТЦ "Семья" 2       53
54                                  Химки ТЦ "Мега"       54
55                         Цифровой склад 1С-Онлайн       55
56                             Чехов ТРЦ "Карнавал"       56
57                          Якутск Орджоникидзе, 56       57
58                          Якутск ТЦ "Центральный"       58
59                           Ярославль ТЦ "Альтаир"       59

In [15]:
categories

           item_category_name  item_category_id
0     PC - Гарнитуры/Наушники                 0
1            Аксессуары - PS2                 1
2            Аксессуары - PS3                 2
3            Аксессуары - PS4                 3
4            Аксессуары - PSP                 4
..                        ...               ...
79                  Служебные                79
80         Служебные - Билеты                80
81    Чистые носители (шпиль)                81
82  Чистые носители (штучные)                82
83           Элементы питания                83

[84 rows x 2 columns]

In [21]:
test[~test['item_id'].isin(np.unique(items['item_id']))]

Empty DataFrame
Columns: [ID, shop_id, item_id]
Index: []

In [38]:
tmp = data.groupby(['shop_id', 'item_id'])['date'].count()
tmp[tmp == 867]

shop_id  item_id
0        30          9
         31          7
         32         11
         33          6
         35         12
                    ..
59       22154       1
         22155       1
         22162      16
         22164       6
         22167       4
Name: date, Length: 424124, dtype: int64

In [39]:
one_item = data[(data['shop_id'] == 28) & (data['item_id'] == 20949)]